<%
  var config = config
%>
<!DOCTYPE html>
<html lang="<%= config.lang %>">
<head>
  <meta charset="<%= config.charset %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= config.title %></title>
  <meta name="description" content="<%= config.description %>">
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
