$base-font-stack: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
$base-inner-width: 1000px;
$base-breakpoint-small: 768px;
$base-breakpoint-medium: 1024px;
$base-breakpoint-large: 1200px;
