body {
  padding: 20px 40px;
}

.works-item {
  padding: 20px;
  h3 {
    margin-top: 0;
  }
}

p {
  /* autoprefixer test */
  display: flex;
}

div {
  /* inline comment test */
  display: block;
  // display: none;
}

