//
// Mixins
// -----------------------------------


//
// Media queries
//

@mixin screen-small() {
  @media screen and (max-width: $base-breakpoint-small) {
    @content;
  }
}

@mixin screen-medium() {
  @media screen and (min-width: $base-breakpoint-small + 1) and (max-width: $base-breakpoint-medium - 1) {
    @content;
  }
}

@mixin screen-large() {
  @media screen and (min-width: $base-breakpoint-medium) and (max-width: $base-breakpoint-large - 1) {
    @content;
  }
}

@mixin screen-xlarge() {
  @media screen and (min-width: $base-breakpoint-large) {
    @content;
  }
}


//
// Visually hidden
//

@mixin hide() {
  position: absolute;
  overflow: hidden;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
