<%- include('../_common/_head', {
  key: 'sample',
  pagetitle: 'Sample page',
}) %>

<%- include('../_component/_header') %>

<main class="content">
  <p>Hi, this is sample page.</p>
  <p><a href="/">Back</a></p>
</main>

<%- include('../_component/_footer') %>

<%- include('../_common/_foot') %>
