:root {
  --fontSize: 1rem;
}

body {
  padding: 20px 40px;
}

header {
  border-bottom: 1px solid #eee;
  margin-bottom: 40px;
  & h1 {
    font-size: calc(var(--fontSize) * 2);
  }
}

.works-item {
  padding: 20px;
  & h3 {
    margin-top: 0;
  }
}

p {
  /* autoprefixer test */
  display: flex;
}

div {
  /* inline comment test */
  display: block;
  // display: none;
}
